dnspython
environs~=9.3.2
flask~=2.0.1
gunicorn
psycopg2-binary==2.8.6
pyTelegramBotAPI
sqlalchemy==1.4.15
flask-restful
flask-cors
flask_admin
Flask-SQLAlchemy
Flask-BasicAuth
flask_login
Werkzeug~=2.0.1
requests